<section>
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Alexandre</h1>
        <p>Atualmente, sou estudante do 4º ano de Matemática pela Univesp e do 3º ano de Sistemas de Informação pela Cruzeiro do Sul.

            No meu trabalho no Setor Administrativo da Polícia Militar, atuo no desenvolvimento de soluções inteligentes para agilizar e melhorar a prestação de serviços.
            
            Nesse contexto, tenho trabalhado diretamente com projetos do Google Workspace, visando a eficiência dos serviços com o Google Sheets e a automatização dos processos através do Google Apps Script.
            
            Também sou responsável pela manutenção e atualização de sistemas utilizando PHP e Laravel. Além disso, desenvolvo sistemas para agilizar os serviços administrativos utilizando Javascript e Angular.
            
            Sou apaixonado por programação e sempre busco expandir meus conhecimentos nesse universo que é a tecnologia.</p>
        <btn-primary text="Download cv"></btn-primary>
    </div>
    <main-animation></main-animation>
</section>
